<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="INFO"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
            <!--  <charset>UTF-8</charset>-->
        </encoder>
    </appender>

    <springProfile name="default">
        <logger name="org.springboot.sample" level="INFO"/>
    </springProfile>

    <springProfile name="dev">
        <logger name="org.springboot.sample" level="INFO"/>
    </springProfile>

    <springProfile name="staging">
        <logger name="org.springboot.sample" level="INFO"/>
    </springProfile>

    <!-- Console output -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder defaults to ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>
                [ %-5level] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n
            </pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
        <!-- Only log level WARN and above -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <logger name="com.bluecoffee.queue.mapper" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.apache.ibatis" level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="java.sql" level="debug">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>